@page "/fetchdata"
@inherits FetchDataComponent

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (Forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <ListaGenerica Items="Forecasts" Context="forecast">
        <Titulo>@forecast.Date.ToShortDateString()</Titulo>
        <Subtitulo>@forecast.Summary</Subtitulo>
        <Dados>
            <strong>@forecast.TemperatureC Cº  / @forecast.TemperatureF Fº</strong>
        </Dados>
    </ListaGenerica>
}