@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<input type="text" bind-value-oninput="@Text"/>

@Text

<SurveyPrompt Title="How is Blazor working for you?" />

<Counter CurrentCount="5" LimitReached="@(e => Console.WriteLine(e))"></Counter>

@functions {
    public string Text { get; set; }
}